@charset "utf-8";
/*  
* @description:   
* @author:   
* @update:   
*/ 

.hdr-inr:after,
.hdr-inr .user:after,
.nav-tag-lst:after,
.container:after,
.nav:after,
.tag-lst:after,
.cmnt-sect-hdr:after,
.cmnt-act:after,
.cmnt-ed-are:after,
.prf-sect:after,
.dpnd-itm:after,
.ftr-inr:after{
	content: '';
	display: table;
	clear: both;
	}
.button{text-align:center;}
.boxshadow{
	-webkit-box-shadow:0 4px 5px -4px rgba(0,0,0,0.1);
	-moz-box-shadow:0 4px 5px -4px rgba(0,0,0,0.1);
	box-shadow:0 4px 5px -4px rgba(0,0,0,0.1);
	}
/*===header===*/
.header{
	width:100%;
	margin:0 auto;
	background-color: #fff;
	position: fixed;
	top: 0;
	z-index: 30;
	}
.header .hdr-inr{
	max-width: 990px;
	margin:0 auto;
	padding:10px 0;
	font-size: 13px;
	}
.hdr-inr .sdk{
	font-size: 18px;
	color: #747983;
	line-height:36px;
	float: left;
	}
.hdr-inr .sdk span{
	display: inline-block;
	padding:10px;
	background:url(../images/sprite/hdr-mnu.png) center center no-repeat;
	position: relative;
	top: 3px;
	cursor: pointer;
	}
.hdr-inr .sdk span:after{
	content:'';
	display: block;
	width: 20px;
	height: 10px;
	position: absolute;
	left: 0;
	bottom:-10px;
	}
.hdr-inr .sdk span:hover ul{display: block;}
.hdr-inr .sdk ul{
	display: none;
	width: 70px;
	padding:10px 0;
	line-height: 30px;
	border-radius:4px;
	background-color: #fff;
	position: absolute;
	left: -25px;
	bottom:-90px;
	}
.hdr-inr .sdk ul.boxshadow{
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
	}
.hdr-inr .sdk ul:before{
	content:'';
	display:block;
	width:0;
	border-left:5px solid transparent;
	border-bottom:8px solid #fff;
	border-right:5px solid transparent;
	position: absolute;
	left: 30px;
	top: -7px;
	}
.hdr-inr .sdk li{
	font-size: 14px;
	text-align: center;
	}
.hdr-inr .sdk li a{
	display: block;
	color: #bbb;
	}
.hdr-inr .sdk a:hover{
	color: #747983;
	background-color: #f3f3f3;
	}
.hdr-inr .logo,
.hdr-inr .logo img{
	width: auto;
	float: left;
	}
.hdr-inr .logo{margin:3px 20px 0 0;}
.hdr-inr .srch-ed-are{
	width:250px;
	margin-left:25px;
	float:left;
	position: relative;
	}
.sug-lst-wrap{
	width:540px;
	background-color: #fff;
	position: absolute;
	left: 0;
	top:36px;
	-webkit-box-shadow:0 4px 6px -2px rgba(0,0,0,0.2);
	-moz-box-shadow:0 4px 6px -2px rgba(0,0,0,0.2);
	box-shadow:0 4px 6px -2px rgba(0,0,0,0.2);
	}
.sug-lst-wrap .sug-lst .sug-itm{
	line-height: 20px;
	padding:0;
	border-bottom:0;
	}
.sug-lst-wrap .sug-lst .sug-itm:hover{background-color:#f9f9f9;}
.sug-lst-wrap .sug-lst .sug-itm-tit:hover,
.sug-lst-wrap .sug-lst .sug-itm-mor:hover{background-color:#f3f3f3;}
.sug-lst .sug-itm a{
	display:block;
	color:#262626;
	padding:8px 20px;
	overflow: hidden;
	}
.sug-lst .sug-itm .keyword{color:#0074e0;}
.sug-lst-wrap .sug-lst .sug-itm-tit,
.sug-lst-wrap .sug-lst .sug-itm-mor{
	line-height: 34px;
	padding:0 20px;
	background-color: #f3f3f3;
	color: #727272;
	}
.sug-lst-wrap .sug-lst .sug-itm-mor{text-align: center;cursor: pointer;}
.sug-lst .sug-itm .score,
.sug-lst .sug-itm .score .icon{
	font-size: 14px;
	color:#bbb;
	margin-right: 5px;
	}
.sug-lst .sug-itm .avatar,
.sug-lst .sug-itm .avatar img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	float: left;
	}
.sug-lst .sug-itm .pet-nam,
.sug-lst .sug-itm .wgt-nam{
	display: block;
	font-size: 13px;
	line-height: normal;
	margin-left:40px;
	}
.sug-lst .sug-itm .slogan,
.sug-lst .sug-itm .meta-data{
	font-size: 12px;
	color: #bbb;
	margin-left: 10px;
	}
.sug-lst .sug-itm .meta-data span{margin-right:10px;}
.sug-lst .sug-itm .wgt-logo,
.sug-lst .sug-itm .wgt-logo img{border-radius: 4px;}
.srch-ed-are .srch-inp{
	width: 100%;
	height: 36px;
	background-color: #f6f6f6;
	line-height: normal;
	padding:0 35px 0 10px;
	border-radius: 4px;
	}
.srch-ed-are  .srch-icn{
	color:#a0b5c6;
	font-size: 16px;
	position: absolute;
	right: 8px;
	top: 8px;
	}
.hdr-inr .user{
	position:relative;
	float: right;
	}
.hdr-inr .user .pet-nam{
	margin-right:10px;
	color: #797c83;
	line-height:36px;
	float: right;
	}
.hdr-inr .avatar,
.hdr-inr .avatar img{
	width: 34px;
	height: 34px;
	border-radius: 50%;
	float: right;
	}
.hdr-inr .notification{
	width: 20px;
	height: 14px;
	background:url(../images/sprite/ntfy-icn.png) center center no-repeat;
	margin:11px 20px 0 0;
	float: right;
	position: relative;
	}
.notification .count{
	min-width:16px;
	height:16px;
	font-size:12px;
	line-height:16px;
	font-style:normal;
	border-radius:8px;
	padding:0 5px;
	color:#fff;
	background-color:#bf0000;
	text-align:center;
	position:absolute;
	left:13px;
	top:-10px;
	}
.notification .count:empty{display:none;}
.hdr-inr .user:hover .drop-lst{
	display:block;
	}
.drop-lst{
	display:none;
	width:220px;
	padding:10px 0;
	background-color:#fff;
	position:absolute;
	right:0;
	top:45px;
	z-index:10;
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 2px 10px rgba(0,0,0,0.1);
	box-shadow: 0 2px 10px rgba(0,0,0,0.1);
	}
.drop-lst:before{
	content:'';
	display:block;
	width:100%;
	height:20px;
	margin-top:-20px;
	}
.drop-lst li{
	height:40px;
	}
.drop-lst a{
	display:inline-block;
	color:#6d6d6d;
	width:100%;
	padding:0 20px;
	line-height:40px;
	}
.drop-lst .idt-ac a{
	padding:10px 20px;
	line-height:normal;
	}
.drop-lst li:hover{background-color:#f9f9f9;}
.drop-lst li:hover a{color:#0074e0;}
.drop-lst .idt-ac:hover a{color:#6d6d6d;}
.drop-lst .idt-ac{
	height:auto;
	position:relative;
	}
.drop-lst .idt-ac::after{
	content:'';
	display:block;
	width:180px;
	height:0;
	border-bottom:solid 1px #e3e3e3;
	position:absolute;
	left:20px;
	bottom:0;
	}
.drop-lst .icon{
	font-size:18px;
	margin-right:15px;
	vertical-align:middle;
	}
.idt-ac .mugshot,.idt-ac .mugshot img{
	width:30px;
	height:30px;
	}
.idt-ac .mugshot{
	display: block;
	margin-bottom:-34px;
	border-radius: 50%
	}
.hdr-inr .idt-ac .pet-nam{
	line-height:20px;
	margin:0 0 0 45px;
	float: none;
	}
.idt-ac .idt-eml{
	display:block;
	font-size:12px;
	line-height:20px;
	margin-left:45px;
	}
.drop-lst .invite .count{
	line-height:16px;
	padding:0 6px;
	font-size:12px;
	color:#fff;
	border-radius:8px;
	background-color:#be0000;
	position:relative;
	top:10px;
	float:right;
	}
.drop-lst .create{
	overflow:hidden;
	}
.drop-lst .help{
	width:16px;
	height:16px;
	border-radius:50%;
	padding:0;
	background-color:#fff;
	position:relative;
	right:5px;
	top:-29px;
	float:right;
	}
.drop-lst .help::before{
	line-height:normal;
	position:absolute;
	left:50%;
	top:50%;
	margin:-9px 0 0 -8px;
	color:#fcb103;
	}
.header .nav-tags{
	width: 100%;
	background-color: #fff;
	border-top:1px solid #e5e5e5;
	}
.header .nav-tag-lst{
	width: 990px;
	margin:0 auto;
	font-size: 0;
	}
.nav-tag-lst .nav-tag{
	display: inline-block;
	font-size: 13px;
	}
.nav-tag-lst .separator{padding:0 10px;}
.nav-tag-lst .nav-tag:first-of-type{margin-left:-10px;}
.nav-tag-lst .nav-tag:hover{background-color:#f3f3f3;}
.nav-tag-lst .nav-tag a{
	display: inline-block;
	padding: 0 10px;
	color: #a9a8a8;
	line-height: 27px;
	}
.nav-tag .mor-icn{
	display: inline-block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #abaaaa;
	vertical-align: middle;
	margin:0 1px;
	}
.nav-tag-lst .separator{font-size: 16px; color: #a9a8a8; cursor: default;}
.nav-tag-lst .separator:hover{background-color: transparent;}
/*===footer===*/
.footer{
	width: 100%;
	margin: 0 auto;
	border-top:1px solid #ecedf1;
	}
.ftr-inr{
	max-width: 990px;
	margin: 0 auto 10px;
	}
.ftr-inr .logo{
	width: 65px;
	height: 34px;
	margin-top: 17px;
	margin-right: 10px;
	float: left;
	}
.ftr-inr .pageview{
	margin-top: 15px;
	font-size:12px;
	color: #bbb;
	float: left;
	}
.ftr-inr .pageview strong{
	font-size: 18px;
	line-height: 1;
	color: #6d6d6d;
	}
.ftr-inr .ftr-nav{
	font-size: 14px;
	padding: 15px 0;
	margin-bottom: 10px;
	float: right;
	}
.ftr-nav li{
	padding: 0 15px;
	line-height: 16px;
	border-right: solid 2px #6d6d6d;
	float: left;
	}
.ftr-nav li:last-of-type{border-right: 0;padding-right: 0;}
.ftr-nav li,.ftr-nav li a{color:#797c83;}
.ftr-inr .folo-us{
    width: 50%;
    text-align: right;
    margin-top:-10px;
    float: right;
	}
.copyright,.copyright a{color:#797c83;font-size: 12px;}
.ftr-inr .wx-app{float: left;}
.ftr-inr .wx-app > span{
	display: block;
	padding: 15px 0;
	color: #121318;
	font-size: 14px;
	}
.ftr-inr .wx-app a{display: inline-block;}
.folo-us .sm,.folo-us .wch{
	display:inline-block;
	width:39px;
	height:30px;
	margin:0 0 10px 10px;
	}
.folo-us .sm{background:url(../images/sprite/ftr-sns.png) no-repeat 0 -5px;}
.folo-us .wch{background:url(../images/sprite/ftr-sns.png) no-repeat -49px -5px; position:relative;}
.folo-us .qc-cod{
	display:none;
	position:absolute;
	left:-60px;
	top:-150px;
	z-index:100;
	}
.folo-us .wch:hover .qc-cod{display:block;}
/*===body===*/
.body{
	min-height: 100%;
	padding-top: 80px;
	padding-bottom: 80px;
	margin-bottom:-60px;
	}
.container{
	max-width: 990px;
	margin-left: auto;
	margin-right:auto;
	padding-top: 20px;
	}
.main{
	width: 66%;
	min-height: 1%;
	float: left;
	}
.side{
	width: 27%;
	margin-top: 22px;
	float: right;
	}
.side .banner,.side .banner img{
	display: inline-block;
	max-width:100%;
	}
/*list*/
.lst-tit{
	font-size: 18px;
	font-weight: bold;
	color: #121318;
	padding-bottom: 20px;
	border-bottom:1px solid #e5e5e5;
	}
.list .item{
	font-size: 14px;
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom:1px solid #e5e5e5;
	position: relative;
	}
.list .mor-btn{
	width: 100%;
	height: 40px;
	font-size: 14px;
	background-color:#f3f3f3;
	color: #6d6d6d;
	margin:20px auto 0;
	}
.list .mor-btn.disable{
	background-color: #f9f9f9;
	color: #ececec;
	cursor: default;
	}
.page-lst .page-itm:last-of-type{border-bottom: 0;}
.item h2,.item .summary,.item .introduction,.cmnt-itm p{
	color: #2c2c2c;
	line-height: 24px;
	}
.item .introduction{width:76%;}
.item h2,.cmnt-itm p{margin-bottom: 10px;}
.item h2{
	font-size: 18px;
	line-height:24px;
	font-weight:bold;
	}
.item h2 a{color: #2c2c2c;}
.wgt-nam{color: #090a0a;}
.art-itm:before,.wgt-itm:before{
	content:'';
	display: block;
	width: 12px;
	height: 12px;
	position:absolute;
	left:-20px;
	top: 26px;
	}
.art-itm:before{
	background-color:#a0b5c6;
	border-radius: 50%; 
	}
.wgt-itm:before{background-color:#1e2643;}
/*score*/
.score{
	display: inline-block;
	color: #a3b5c5;
	margin-left:10px;
	}
.score .count{color:#888;}
.item .itm-meta{font-size: 0;padding-top:10px;}
.itm-meta .count{margin-left: 5px;}
.itm-meta,.itm-meta a{color: #888;}
.itm-meta > a,.itm-meta > span{font-size:12px;margin-right: 15px;}
.itm-meta .score .icon{
	font-size:14px;
	color:#888;
	margin-right:2px;
	}
.wgt-itm .itm-sid{
	position:absolute;
	right: 0;
	top: 50px;
	text-align: center;
	}
.folo-btn{
	background-color:#008c00;
	color: #fff;
	}
.folo-btn.pressed{
	background-color:#e4ebf0;
	color:#313131;
	}
.itm-sid .folo-btn{
	display:block;
	width:100px;
	height: 30px;
	font-size: 12px;
	}
.wgt-itm h2{display: inline-block;margin-right:10px;}
.wgt-lst .wgt-itm .introduction{color:#797c83;}
.wgt-itm .dot{
	font-weight: bold;
	padding: 0 5px;
	}
.main .nav{
	line-height: 40px;
	border-bottom:1px solid #e5e5e5;
	}
.main .nav li{
	display: inline-block;
	margin-right:15px;
	cursor: pointer;
	}
.main .nav li span{
	display:block;
	padding:0 5px;
	border-bottom:2px solid #fff;
	}
.main .nav li span:hover,
.main .nav li.current span{border-color:#008c00;}
.srch-nav li:first-of-type,
.hsty-nav li:first-of-type{
	display: block;
	font-size: 20px;
	color:#121213;
	font-weight: bold;
	cursor: default;
	}
/*文章*/
.art-sect{
	margin-top:20px;
	border-bottom:1px solid #ecedf1;
	}
.art-act{
	font-size: 14px;
	line-height: 22px;
	overflow: hidden;
	}
.art-act .art-act-tit{
	font-size: 16px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom:1px solid #e5e5e5;
	}
.art-act .avatar,
.art-act .avatar img,
.cmnt-lst .avatar,
.cmnt-lst .avatar img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	float: left;
	}
.art-act .pet-nam{margin-left:10px;color: #0e78e5;}
.art-act .time{margin-left:10px;color: #bbb;}
.art-act .slogan{margin-left:50px;color: #797c83;}
.tag-lst{padding:15px 0;}
.tag-lst .tag{
	padding:0 10px;
	margin-right: 5px;
	border-radius:12px;
	background-color: #fff;
	border:1px solid #e5e5e5;
	float: left;
	}
.tag-lst .tag:hover{
	background-color:#0074e0;
	border-color:#0074e0;
	}
.tag-lst .tag-nam{
	font-size: 12px;
	line-height:20px;
	color:#797c83;
	}
.tag-lst .tag:hover .tag-nam{color:#fff;}
.art-sect h1{
	font-size: 24px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom:1px solid #e5e5e5;
	}
.art-lnk span,.detail h1,.detail b,.detail u,.detail i,.detail pre{color: #121318;}
.art-sect .art-lnk,.art-sect .detail{font-size: 14px;}
.art-sect .art-lnk a{
	color: #2a5da1;
	padding-right: 10px;
	background: url(../images/sprite/art-lnk.png)right center no-repeat;
	}
.art-sect .detail{
	margin-top:15px;
	line-height:26px;
	margin-bottom: -20px;
	}
.detail p{color:#797c83;margin-bottom:15px;}
.detail pre{
	background-color: #f6f6f6;
	padding:20px;
	margin:0 0 15px 0;
	}
.detail blockquote{
	padding:0 10px 0 20px;
	margin:0 0 15px 0;
	border-left:3px solid #d9d9d9;
	font-style:italic;
	}
.detail h3{
	margin:0 0 15px 0;
	word-wrap:break-word;
	white-space: pre-wrap;
	}
.detail ul{
	list-style:disc outside;
	margin:0.5em 0 1em 3em;
	font:inherit;
	word-wrap:break-word;
	white-space: -moz-pre-wrap;
	}  
.detail ol{
	list-style:decimal outside;
	margin:0.5em 0 1em 3em;
	font:inherit;
	word-wrap:break-word;
	white-space: -moz-pre-wrap;
	}
.detail ul li,.detail ol li{margin:10px 0;}
.detail ul li{
	list-style:disc outside;
	word-wrap:break-word;
	white-space: -moz-pre-wrap;
	}  
.detail ol li{
	list-style:decimal outside;
	word-wrap:break-word;
	white-space: -moz-pre-wrap;
	}
.detail img{
	display:block;
	max-width:100%;
	border:solid 1px #e3e3e3;
	margin:10px auto;
	padding:5px;
	background-color:#F5F5F5;
	}
.detail li img{
	display:inline-block;
	margin:0;
	vertical-align:top;
	}
.cmnt-sect{padding-top:20px;}
.cmnt-sect-hdr{
	font-size: 14px;
	line-height: 16px;
	}
.cmnt-sect .cmnt-lst{margin-bottom: 10px;}
.cmnt-sect-hdr .cmnt-score,.cmnt-ed-are .cmnt-score{
	color: #252525;
	float: left;
	}

.cmnt-score img,.score img{
    width: 14px;
    height: 14px;
    vertical-align: text-top;
	}
 
.cmnt-sect-hdr .score,.cmnt-act .score{
	font-size: 14px;
	margin-left: 10px;
	color:#a3b5c5;
	}
.cmnt-sect-hdr .count,.cmnt-ed-are .count{
	font-size: 12px;
	color:#797c83;
	float: right;
	}
.cmnt-ed-are{text-align: right;}
.cmnt-ed-are .cmnt-score,.cmnt-ed-are .count{
	font-size: 14px;
	color: #797c83;
	padding: 10px 0;
	}
.cmnt-ed-are textarea{
	width: 100%;
	height: 140px;
	padding: 5px;
	border:1px solid #ecedf1;
	text-align: left;
	resize: none;
	}
.cmnt-ed-are .sbm-btn{
	width: 70px;
	height: 36px;
	background-color: #0074e0;
	color: #fff;
	margin-top: 10px;
	cursor: pointer;
	}
.cmnt-itm .cmnt-act{
	font-size: 12px;
	line-height: 40px;
	color: #a3b5c5;
	margin-bottom: 5px;
	}
.cmnt-act .pet-nam{
	margin-left: 10px;
	color: #a9a8a8;
	}
.cmnt-act .score,.cmnt-act .time{margin-left: 10px;}
.cmnt-itm p{margin-bottom: 0;color: #555;}
.rel-sect-hdr{
	font-size: 14px;
	color: #797c83;
	padding:15px 0;
	border-bottom:1px solid #e3e3e3;
	}
.rel-itm:last-of-type{border-bottom:0;}
.rel-itm h2{margin-bottom:0;}
/*组件详情*/
.prf-sect{
	padding: 20px 0;
	position: relative;
	}
.prf-sect .folo-btn{
	position:absolute;
	right: 0;
	top: 50%;
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	}
.prf-sect h2{
	font-size: 18px;
	color: #121213;
	margin:0 0 5px 100px;
	}
.prf-sect .author{
	display: inline-block;
	color: #bbb;
	font-size: 12px;
	line-height: 20px;
	margin-left: 20px;
	margin-bottom: 10px;
	}
.prf-sect .doc-lnk{
	margin-left:100px;
	font-size: 14px;
	}
.prf-sect .doc-lnk a{
	color:#2a5ca1;
    padding-right: 10px;
    background: url(../images/sprite/art-lnk.png)right center no-repeat;
	}
.prf-sect .home{
	font-size:18px;
	color: #bbb;
	float: right;
	}
.wgt-prf .wgt-logo,
.wgt-prf .wgt-logo img{
	width: 80px;
	height: 80px;
	border-radius: 4px;
	float: left;
	}
.contents{
	width: 120px;
	border-radius: 4px;
	line-height: 40px;
	background-color: #fff;
	text-align: center;
	position: absolute;
	left: 10px;
	top: 200px;
	}
.contents li a{
	display: block;
	color: #797c83;
	}
.contents li:first-child{
	font-weight:bold;
	color: #151618;
	border-bottom:1px solid #e5e5e5;
	}
.contents li:hover{background-color: #ecedf1;}
.contents li:first-child:hover{background-color: #fff;}
.dpnd-itm .dpnd-logo,
.dpnd-itm .dpnd-logo img{
	width: 40px;
	height: 40px;
	border-radius: 4px;
	float: left;
	}
.dpnd-lst .dpnd-itm .snippets{
	line-height: 22px;
	color: #888;
	margin:0 0 0 50px;
	}
.side .wgt-intro{
	min-width: 200px;
	font-size:12px;
	padding:20px;
	margin-bottom:10px;
	background-color:#f9f9f9;
	}
.side .wgt-intro p{
	line-height: 18px;
	color: #797c83;
	}
.side .wgt-intro .mor-lnk{
	display: inline-block;
    color: #a9a8a8;
    line-height: 18px;
    margin-left: 5px;
	}
.side .wgt-intro .all{color:#0074e0;}
.side .wgt-intro .folo-btn{
	display:block;
	width: 100%;
	height: 32px;
	margin:10px 0;
	}
.side .wgt-intro .count{
	display:block;
	margin:0 auto;
	text-align: center;
	color:#bbb;
	}
/*===弹窗===*/
.mask{
	background-color:#fff;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:90;
	overflow-x:hidden;
	overflow-y:auto;
	}
.mask .close{
	font-size:40px;
	color:#bbb;
	position:absolute;
	right:30px;
	top:30px;
	}
.mod-dial-wrap{
	width:980px;
	margin:0 auto;
	}
.mod-dial-bdy{
	padding-top:80px;
	}
.mod-dial-bdy .mod-dial-cntt,.mod-dial-bdy .fb-wrap{
	width:611px;
	margin:0 auto;
	padding:0 40px 20px;
	position:relative;
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 2px 10px rgba(0,0,0,0.1);
	box-shadow: 0 2px 10px rgba(0,0,0,0.1);
	}
.mod-dial-bdy .prmp-suc,.mod-dial-bdy .prmp-fal{
	width:611px;
	font-size:14px;
	line-height:24px;
	text-align:center;
	color:#fff;
	position:absolute;
	left:50%;
	top:55px;
	margin-left:-305px;
	}
.mod-dial-bdy .prmp-suc .prmp-icn::before,.mod-dial-bdy .prmp-fal .prmp-icn::before{
	margin-right:5px;
	}
.mod-dial-bdy .prmp-suc{
	background-color:#008c00;
	}
.mod-dial-bdy .prmp-fal{
	background-color:#be0000;
	}
.mod-dial-bdy .mod-dial-txt{
	font-size:16px;
	color:#6d6d6d;
	padding:20px;
	text-align: left;
	margin:0 -40px;
	border-bottom:solid 1px #e3e3e3;
	}
.mod-dial-bdy .mod-dial-cntt{
	text-align:center;
	}
.mod-dial-cntt .can-btn,.mod-dial-cntt .sbm-btn{
    display: inline-block;
    width: 100px;
    margin: 20px 10px 0;
    font-size: 14px;
    text-align: center;
    height: 40px;
    line-height: 40px;
	}
.mod-dial-cntt .sbm-btn{
    background-color: #0074e0;
    color: #fff;
	}
.mod-dial-cntt .can-btn{
	background-color: #f3f3f3;
	color:#6d6d6d;
	}
/*===反馈===*/
.fb-hdr p{
    padding: 80px 0;
    background-color: #f9f9f9;
	color:#bbb;
    font-size: 14px;
    line-height: 40px;
	text-align:center;
	border:solid 1px #e3e3e3;
	border-bottom:0;
	margin:20px 0 -20px 0;
    }
.fb-lst{
	padding-top:50px;
	}
.fb-lst .fb-itm{
	padding-left:100px;
	color:#6d6d6d;
	overflow:hidden;
	}
.fb-lst .fb-itm .cmnt-sect{
	margin-left:-100px;
	}
.fb-itm .fb-prmp{
	margin-left:-100px;
	font-size:16px;
	float:left;
	}
.fb-itm label{
	display:block;
	margin:0 0 20px 20px;
	font-size:16px;
	color:#262626;
	}
.fb-itm textarea{
	width:580px;
	height:200px;
	padding:5px;
	border:solid 1px #e3e3e3;
	}
.fb-lst .sbm-btn{
	width:100px;
	margin:20px 0 0 100px;
	}
.fb-ed-are{
	margin:0 -10px;
	overflow:hidden;
	}
.fb-ed-are .ed-are-prmp{
    margin-bottom: 10px;
    font-size: 12px;
    color: #6d6d6d;
    font-weight: normal;
	line-height:35px;
	margin-top:20px;
	float:left;
	}
.fb-ed-are select{
	width:120px;
	height:35px;
	border-color:#e3e3e3;
	margin-top:20px;
	padding-left:10px;
	background: url(../images/sprite/drop-dwn.png) no-repeat 96% center;
	float:right;
	}
.fb-ed-are textarea{
	width:100%;
	height:150px;
	border:solid 1px #e3e3e3;
	padding:5px;
	resize:none;
	}
.fb-ed-are .prompt{
	font-size: 12px;
	line-height: 24px;
	float: right;
	}
.fb-ed-are .prompt.error{color: #be0000;}
/*===用户协议===*/
.agr-hdr h1,.abt-us-hdr h1{
	font-size:20px;
	margin-bottom:20px;
	}
.agr-hdr p,.abt-us-hdr p,.prod-gud-hdr p{
	font-size:14px;
	}
.agr-sect .nav,
.side .nav{
	width:260px;
	margin:20px -340px 0 0;
	padding:20px 0;
	background-color:#f9f9f9;
	text-align:center;
	font-size:16px;
	float:right;
	}
.side .nav{margin: 0;}
.agr-sect .nav li:nth-child(n),
.side .nav li:nth-child(n){
	width: 100%;
	height: auto;
	border:0;
	line-height:40px;
	float: none;
	}
.agr-sect .nav li:hover,
.side .nav li:hover{
	background-color:#f3f3f3;
	}
.agr-sect .nav .current a
.side .nav .current a{
	font-weight:700;
	color:#262626;
	}
.agr-sect .nav a,
.side .nav a{
	display:block;
	color:#6d6d6d;
	}
.agr-sect .nav .current,
.side .nav .current{
	background-color:#f3f3f3;
	}
.agr-sect .nav li:hover a,
.agr-sect.nav .current a,
.side .nav li:hover a,
.side .nav .current a{
	color:#262626;
	}
/*===关于我们===*/
.abt-us-hdr,.ctt-hdr{
	border-bottom:0;
	}
.abt-us-doc{
	padding-top:30px;
	}
.abt-us-doc p:first-child{
	padding-bottom:40px;
	}
.abt-us-doc .detail img{
	background-color:transparent;
	border:0;
	margin:0 auto;
	}
/*======================用户协议================================*/
.agr-hdr,.agr-doc .detail{color: #262626;}
.agr-doc .detail a{color: #0074e0;}
.agr-hdr h1,.agr-doc h3{color: #262626;}
.agr-doc .detail p{
	width:100%;
	margin:20px 0 0 0;
	line-height:24px;
	font-size:14px;
	color: #262626;
	}
.agr-doc .detail p:first-of-type{margin:0;}
.agr-doc .detail h3{
	margin:15px 0;
	}
.agr-doc .detail ul{
	list-style:disc outside;
	margin:0.5em 0 1em 3em;
	line-height:24px;
	font-size:14px;
	}  
.agr-doc .detail ol{
	list-style:decimal outside;
	margin:0.5em 0 1em 3em;
	line-height:24px;
	font-size:14px;
	}
.agr-doc .detail ul li,.agr-doc .detail ol li{margin:10px 0;}
.agr-doc .detail ul li{list-style:disc outside;}  
.agr-doc .detail ol li{list-style:decimal outside;}
.agr-doc .detail li img{
	display:inline-block;
	margin:0;
	vertical-align:top;
	}
.agr-doc .detail i{
	line-height:24px;
	background-image:none;
	}
.agr-doc .detail blockquote{
	padding:0 10px 0 20px;
	margin:20px 0;
	border-left:3px solid #d9d9d9;
	font-style:italic;
	}
.agr-doc .detail blockquote .qot-src-info{
	color:#8D8D8D;
	overflow:hidden;
	}
.abt-us-doc .detail img{
	display:block;
	max-width:100%;
	height:auto;
	margin:10px auto;
	padding:5px;
	}
/*===联系我们===*/
.ctt-lst{
	line-height:24px;
	}
.ctt-itm{
	padding:10px 0;
	line-height:26px;
	border-bottom:1px solid #e3e3e3;
	}
.ctt-itm h1{
	font-size:16px;
	color:#262626;
	margin-bottom:10px;
	}
.ctt-itm .email{
	height:auto;
	font-size:14px;
	line-height:26px;
	padding:0;
	margin:0;
	background-color:transparent;
	}
.ctt-itm .message{
	font-size:12px;
	color:#0074e0;
	}
/*===弹窗内容===*/
.mod-dial-txt{
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  padding:15px 10px;
  border-bottom:1px solid #e3e3e3;
  background-color:#eaf1f6 ;
  }
.mod-dial-cntt{
  padding: 30px 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  }
.mod-dial-btns{
  text-align: center;
	}
.mod-dial-btns .button{
	display: inline-block;
	width: 72px;
	height: 36px;
	margin:0 5px;
	}
.mod-dial-btns .blue-btn{
	background-color:#0074e0;
	color: #fff;
	}
.mod-dial-btns .green-btn{
	background-color:#009c0b;
	color: #fff;
	}
/*气泡*/
.bbl-wrap{
	width:390px;
	border:solid 1px #e3e3e3;
	text-align:center;
	background-color:#fff;
	}
.bbl-wrap .bbl-skn{
	width:100%;
	height:100px;
	background:url(../images/tmp/skn-bg.png) repeat;
	}
.bbl-skn span{
	display:block;
	width:10px;
	height:10px;
	margin:0 auto;
	position:relative;
	}
.bbl-wrap .bbl-info{
	border-bottom:solid 1px #e3e3e3;
	margin:0 20px;
	padding-bottom:20px;
	}
.bbl-wrap .avatar,
.bbl-wrap .avatar img{
	width:100px;
	height:100px;
	border-radius:50px;
	display:block;
	margin:-50px auto 0;
	background-color:#fff;
	}
.bbl-wrap .avatar{
	display:block;
	margin:-50px auto 0;
	background-color:#fff;
	}
.bbl-wrap .avatar img{
	display:block;
	border:solid 5px #fff;
	}
.bbl-wrap .folo-btn{
	width:100px;
	height:40px;
	}
.bbl-wrap .name{
	display:block;
	font-size:14px;
	color:#262626;
	line-height:20px;
	}
.bbl-wrap .location{
	font-size:12px;
	color:#bbb;
	line-height:24px;
	}
.bbl-wrap .slogan,
.bbl-wrap .ful-nam,
.bbl-wrap .dom-intro{
	font-size:12px;
	color:#6d6d6d;
	line-height:24px;
	margin-bottom:10px;
	}
.bbl-wrap .dom-intro{text-align:left;line-height:22px;}
.bbl-wrap .data{
	padding:15px 0;
	font-size:0;
	}
.bbl-wrap .data span{
	display:inline-block;
	width:33%;
	font-size:14px;
	color:#bbb;
	}
.bbl-wrap .data .count{
	font-weight:700;
	color:#262626;
	}
/*ngdialog  reset*/
.ngdialog.ngdialog-theme-default .ngdialog-content{
  padding:0 0 1.1em 0;
  overflow: hidden;
  }
body.ngdialog-open,html.ngdialog-open {
  overflow:visible !important;
  }