    <ul class="nav" ng-controller="temp_asideCtrl">
        <li ng-class="{true: 'current', false: ''}[activeName=='aboutus']"   ng-click="slideChange(0);"><a href="">关于极乐</a></li>
        <li ng-class="{true: 'current', false: ''}[activeName=='contactus']" ng-click="slideChange(1);"><a href="">联系我们</a></li>
        <!--<li ng-class="{true: 'current', false: ''}[activeName=='help']"      ng-click="slideChange(2);"><a href="">极乐帮助</a></li>-->
        <li ng-class="{true: 'current', false: ''}[activeName=='term']"      ng-click="slideChange(3);"><a href="">极乐协议</a></li>
        <li ng-class="{true: 'current', false: ''}[activeName=='advise']"    ng-click="slideChange(4);"><a href="">建议反馈</a></li>
    </ul>